<html>
    <head>
        <meta charset='utf-8' />
        <title>Authorize Page</title>
    </head>
    <body>
        <h1>권한 요청</h1>
        {{!-- <p>애플리케이션 "<strong>{{}}</strong>"이 다음 권한에 접근하려고 합니다:</p> --}}
        <form method='POST' action='/oauth/authorize'>
            <input type='hidden' name='client_id' value={{client_id}} />
            <input type='hidden' name='redirect_uri' value='{{redirect_uri}}' />
            <input type='hidden' name='scope' value='{{scope}}' />
            <input type='hidden' name='state' value='{{state}}' />
            <input type='hidden' name='response_type' value='{{response_type}}' />
            <button type='submit' name='action' value='approve'>승인</button>
            <button type='submit' name='action' value='deny'>거부</button>
        </form>
    </body>
</html>